<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Point Clouds{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/TPF-Icon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylerReaderHome.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <section class="top-header">
            <div class="interface">
                <div class="logotipo">
                    <a href="#">
                        <img src="{{ url_for('static', filename='img/TPF-logotipo.png') }}" alt="logotipo">
                    </a>
                </div>
            </div>
        </section>

        <section class="bottom-header">
            <div class="interface">
                <h1>Bem-vindo à Aplicação</h1>
                <nav>
                    <ul>
                        <li class="menu-drop-opcoes">
                            <a href="javascript:void(0);" id="las-link">Escolha uma das opções abaixo <i class="bi bi-caret-down-fill"></i></a>
                            <div class="drop">
                                <a href="javascript:void(0);" id="las-view-link">Manipular Arquivos <strong>LAS</strong></a>
                                <a href="javascript:void(0);" id="ply-view-link">Manipular Arquivos <strong>PLY</strong></a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>

    
    
    <main>
        <section id="las-section" class="hidden">
            <div class="container">
                <h2>Manipulação de Arquivos LAS</h2>
                <form action="{{ url_for('las_view') }}" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" accept=".las" required>

                    <button type="submit"><strong>Enviar</strong></button>
                </form>
            </div>
        </section>
    
        <section id="ply-section" class="hidden">
            <div class="container">
                <h2>Manipulação de Arquivos .PLY</h2>
                <form method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" id="file" class="form-control" required>
                    
                    <button type="submit" name="action" value="visualize" class="btn btn-custom"><strong>Visualizar o PLY</strong></button>
                    <button type="submit" name="action" value="ransac" class="btn btn-custom"><strong>Segmentação com RANSAC</strong></button>
                    <button type="submit" name="action" value="dbscan" class="btn btn-custom"><strong>Segmentação com DBSCAN</strong></button>
                </form>
            </div>
        </section>
    </main>
    

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const lasLink = document.getElementById('las-view-link');
            const plyLink = document.getElementById('ply-view-link');
            
            const lasSection = document.getElementById('las-section');
            const plySection = document.getElementById('ply-section');
    
            lasLink.addEventListener('click', function() {
                if (lasSection.classList.contains('hidden')) {
                    lasSection.classList.remove('hidden');
                } else {
                    lasSection.classList.add('hidden');
                }
                plySection.classList.add('hidden');  
            });
    
            plyLink.addEventListener('click', function() {
                if (plySection.classList.contains('hidden')) {
                    plySection.classList.remove('hidden');
                } else {
                    plySection.classList.add('hidden');
                }
                lasSection.classList.add('hidden');  
            });
        });
    </script>
    

    <footer>
        <p> Developed by the Team AKLST &copy; PointCloud/Softex - 2024</p>
    </footer>
</body>
</html>
