<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Manipulação de Arquivos .PLY</title>
    <link rel="stylesheet" href="../static/css/stylePly.css">
</head>
<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->

    <!-- Main Content -->
    <div class="container">
        <h1>Manipulação de Arquivos .PLY</h1>
        <form method="POST" enctype="multipart/form-data">
            <label for="file">Carregar arquivo .PLY:</label>
            <input type="file" name="file" id="file" class="form-control" required>
            
            <button type="submit" name="action" value="visualize" class="btn btn-custom">Visualizar o PLY</button>
            <button type="submit" name="action" value="ransac" class="btn btn-custom">Segmentação com RANSAC</button>
            <button type="submit" name="action" value="dbscan" class="btn btn-custom">Segmentação com DBSCAN</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>